nav{
	width: 100%;
	background: #128C7F;
	.child-nav{
		margin: 0 auto;
		width: 95%;
		max-width: 1000px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		color: white;
		padding: 10px 0px;
		.logo-name{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 2.5px;
			.logo{
				width: 100%;
				max-width: 40px;
				img{
					width: 100%;
				}
			}
			h1{
				font-size: 20px;
				font-weight: 500;
				letter-spacing: .6px;
			}
		}
		.grandchild-nav{
			align-items: center;
			a{
				margin: 0px 15px;
				text-decoration: none;
				color: white;
				font-size: 13.5px;
			}
			select{
				all: unset;
				cursor: pointer;
				color: white;
				box-shadow: none;
				padding: 5px;
			}
			option{
				color: white;
				background: #128C7F;
				cursor: pointer;
			}
		}
		.burger{
			display: none;
			z-index: 1001;
			.menu, .menu-open{	
				width: 100%;
				max-width: 35px;
				img{
					width: 100%;
					cursor: pointer;
				}
			}
			.menu{
				visibility: visible;
				opacity: 1;
			}
			.menu.open{
				visibility: hidden;
				opacity: 0;
				transform: scale(1.1);
				transition: .3s;
			}
			.menu-open{
				position: absolute;
				visibility: hidden;
				opacity: 0;
				transform: scale(1.1);
				transition: .3s;
			}
			.menu-open.open{
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
@media (max-width: 848px){
	.child-nav{
		.grandchild-nav{
			margin: 0 auto;
		}

	}
}
@media(max-width: 681px){
	nav{
	.grandchild-nav{
		display: none;
	}
	.child-nav{
		.burger{
			display: flex;
			flex-flow: row wrap;
		}
	}
}
}